<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.robot.mapper.TbkTradeMapper">
    <insert id="inserReplaceBatch">
        REPLACE INTO `tbk_trade`(
            `id`,
            `trade_id`,
            `trade_parent_id`,
            `click_time`,
            `tk_create_time`,
            `tb_paid_time`,
            `tk_paid_time`,
            `tk_status_text`,
            `tk_status`,
            `item_id`,
            `item_img`,
            `item_link`,
            `item_title`,
            `item_num`,
            `item_price`,
            `item_category_name`,
            `seller_nick`,
            `seller_shop_title`,
            `pid`,
            `pub_id`,
            `site_id`,
            `site_name`,
            `adzone_id`,
            `adzone_name`,
            `order_type`,
            `alipay_total_price`,
            `total_commission_rate`,
            `total_commission_fee`,
            `subsidy_fee`,
            `subsidy_rate`,
            `subsidy_type`,
            `income_rate`,
            `pub_share_rate`,
            `tk_total_rate`,
            `tk_commission_rate_for_media_platform`,
            `tk_commission_fee_for_media_platform`,
            `pub_share_pre_fee`,
            `tk_commission_pre_fee_for_media_platform`,
            `tk_order_role_text`,
            `tk_order_role`,
            `terminal_type`,
            `pub_share_fee`,
            `tk_deposit_time`,
            `alimama_rate`,
            `alimama_share_fee`,
            `deposit_price`,
            `tb_deposit_time`,
            `item_platform_type_text`,
            `refund_tag`,
            `pre_sell`,
            `tk_biz_tag`,
            `flow_source`,
            `support_item_click`,
            `create_time`,
            `create_by`,
            `update_time`,
            `update_by`
        )
        VALUES
        <foreach collection="tradeList" item="trade" open="" separator="," close="">
        (
        #{trade.id},
        #{trade.tradeId},
        #{trade.tradeParentId},
        #{trade.clickTime},
        #{trade.tkCreateTime},
        #{trade.tbPaidTime},
        #{trade.tkPaidTime},
        #{trade.tkStatusText},
        #{trade.tkStatus},
        #{trade.itemId},
        #{trade.itemImg},
        #{trade.itemLink},
        #{trade.itemTitle},
        #{trade.itemNum},
        #{trade.itemPrice},
        #{trade.itemCategoryName},
        #{trade.sellerNick},
        #{trade.sellerShopTitle},
        `pid`,
        #{trade.pubId},
        #{trade.siteId},
        #{trade.siteName},
        #{trade.adzoneId},
        #{trade.adzoneName},
        #{trade.orderType},
        #{trade.alipayTotalPrice},
        #{trade.totalCommissionRate},
        #{trade.totalCommissionFee},
        #{trade.subsidyFee},
        #{trade.subsidyRate},
        #{trade.subsidyType},
        #{trade.incomeRate},
        #{trade.pubShareRate},
        #{trade.tkTotalRate},
        #{trade.tkCommissionRateForMediaPlatform},
        #{trade.tkCommissionFeeForMediaPlatform},
        #{trade.pubSharePreFee},
        #{trade.tkCommissionPreFeeForMediaPlatform},
        #{trade.tkOrderRoleText},
        #{trade.tkOrderRole},
        #{trade.terminalType},
        #{trade.pubShareFee},
        #{trade.tkDepositTime},
        #{trade.alimamaRate},
        #{trade.alimamaShareFee},
        #{trade.depositPrice},
        #{trade.tbDepositTime},
        #{trade.itemPlatformTypeText},
        #{trade.refundTag},
        #{trade.preSell},
        #{trade.tkBizTag},
        #{trade.flowSource},
        #{trade.supportItemClick},
        #{trade.createTime},
        #{trade.createBy},
        #{trade.updateTime},
        #{trade.updateBy}
        )
        </foreach>
    </insert>
</mapper>